* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SCE-PS3 Rodin LATIN Regular";
    font-weight: bolder;
}

html,
body {
    overflow-x: hidden;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hotbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-top: 19dvh;
    gap: 9vw;
    width: 100vw;
}


#time {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid 1px white;
    border-right: none;
    text-align: center;
    overflow: hidden;
}

#time>* {
    margin-left: 55px
}



.item-xmb {
    width: 8vw;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    transition: all 0.125s;
    transform: scale(0.85);
}

.item-xmb.selecionado {
    transform: scale(1) translateY(-15px);
    opacity: 1;
}


.item-xmb label {
    opacity: 0;
    visibility: hidden;
}

.item-xmb.selecionado label {
    opacity: 1;
    visibility: visible;
}
.item-xmb.selecionado>.sub-item img{
    visibility: visible;
}


.sub-item {
    line-height: 10vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sub-item label {
    margin-left: 0.5vw;
    vertical-align: middle;
    white-space: nowrap;
}

.sub-item img {
    height: 10vh;
    width: 10vw;
    visibility: hidden;
}

.sub-item-selecionado {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #f1f1f1,
        0 0 20px #f5f9f9,
        0 0 40px #ffffff;
}

iframe{
    width: 75%;
    height: 500px;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 9999;
}
#overlay-jogo {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
}

button{
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    height: 10%;
    width: 10%;
    border-bottom-left-radius: 25px;
    border: none;
    font-size: x-large;
}
button:hover{
    background-color: rgb(83, 81, 81);
}

#root{
    display: none;
}
#aviso{
    position: absolute;
    top: 50%;
    font-size: 15pt;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    text-align: left;
}

#logo{
    position: absolute;
    right: 0;
    top: 45%;
    height: 150px;
}

#logo,#aviso{
    opacity: 0;
    transition: opacity 0.25s ease;
}